body, html{
  background-color: #f7f7f7;
  font-family: arial, sans-serif;;
}

#app{
  width: 480px;
  border-radius: 5%;
  background-color: #080830;
  padding-top: 26px;
  margin: 0 auto;
}

#calcHead{
  width: 90%;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 2%;
}

#calcPrevDisp{
  margin: 0 auto;
  height: 18px;
  margin-top: 24px;
  background-color: #f7f7f7;
  font-size: 1.3em;
  text-align: right;
  width: 98%;
  padding-top: 6px;
  padding-right: 2px;
  border: none;
}

#calcMainDisp{
  padding-top: 10px;
  margin: 0 auto;
  display: block;
  text-align: right;
  background-color: #f7f7f7;
  border: none;
  width: 95%;
  font-size: 3.1em;
}

#calcMainDisp:focus{
  outline: none;
}

#calcPad{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

button{
  font-size: 2.5em;
  width: 100px;
  height: 70px;
  margin: 10px 4px;
  color: white;
  background-color: #102D44;
}

button:hover{
  cursor: pointer;
}

button:focus{
  outline: none;
}

#clearButton{
  width: 208px;
  background-color: #3E2561;
}

#additionButton{

}
